---
import FrontCard from "../components/FrontCard.astro";
import Layout from "../layouts/Layout.astro";
import questions from "../questions/questions.json";
import type { Question } from "../types/Question";

if (questions.length % 5 != 0) throw new Error("Faltan preguntas");

let chunkedCards: Question[][] = [];
for (let i = 0; i < questions.length; i += 5) {
  chunkedCards.push(questions.slice(i, i + 5));
}
---

<Layout>
  <div id="first-div" class="grid grid-cols-2 gap-1">
    {
      chunkedCards
        .sort(() => Math.random() - 0.5)
        .map((chunkedCard) => <FrontCard questions={chunkedCard} />)
    }
  </div>
</Layout>
