---
import gameLogo from "../assets/logo.webp";
---

<div id="container">
  <div class="bg-[url(src/assets/fondo.webp)]">
    <img
      src={gameLogo.src}
      width="auto"
      alt="Lo sabe no lo sabe logo"
      class="justify-self-center w-[150px]"
    />
  </div>
  <p class="text-center bg-[#FB2004] text-white text-[22px] py-2 font-bold">
    TAPAR POR AQUÍ
  </p>
</div>
